// さきほど作った部品庫（dtsi）を丸ごと読み込む
#include "qhush.dtsi"

/ {
    chosen {
        zmk,physical-layout = &default_layout;
        zmk,underglow = &led_strip;
        zmk,matrix-transform = &default_transform;
    };
};